.basket {
  .nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      padding-left: 20px;
      margin: 0;
      font-size: 30px;
      letter-spacing: 3px;
      color: #ef6a73;
      user-select: none;
    }
    .btn-make {
      margin: 0px 40px;
      height: 60px;
      padding: 10px 40px;
      font-size: 23px;
      letter-spacing: 3px;
      border-radius: 20px;
      border: 5px solid #ef6a73;

      font-weight: 600;
      color: white;
      background-color: #ef6a73;
      cursor: pointer;

      transition: all 0.8s ease;

      .star1,
      .star2 {
        position: absolute;
        filter: invert(100%) drop-shadow(0 0 10px #ff0011);
        opacity: 0;
        transition: all 0.8s ease;
        transform-origin: center center;
      }
      .star1 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scaleY(-1);
      }
      .star2 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        transform: scale(1.05);
        background-color: rgba(255, 255, 255, 0.453);
        color: #ef6a73;
        border: 5px solid #ef6a73;
        box-shadow: 0 0 30px #ef6a73;
      }
      &:active {
        transform: scale(0.95);
      }
      &:hover .star1 {
        opacity: 1;
        transform: translate(180%, -50%) translateY(30px);
      }
      &:hover .star2 {
        opacity: 1;
        transform: translate(-290%, -50%) translateY(30px);
      }
    }
    .btn-home {
      margin: 0;
      padding-right: 25px;
      width: 276px;
      border: none;
      background: transparent;
      display: flex;
      justify-content: flex-end;
    }
    img {
      width: 60px;
      height: 60px;
      filter: invert(40%);
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: rotate(5deg) scale(1.1);
      }
      &:active {
        transform: rotate(0deg) scale(0.98);
      }
    }
  }
  h2 {
    padding-top: 30px;
    text-align: center;
    width: 800px;
    font-size: 50px;
    margin: auto;
    color: #ef6a73;
  }
  p {
    width: 30%;
    margin: 30px auto;
    text-align: center;
    color: #4c4c4c;
    font-size: 20px;
    letter-spacing: 5px;
  }
  .end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-bottom: 200px;

    p {
      opacity: 1;
      animation: show 1s ease forwards, hide 1s ease 5s forwards;
    }
  }
  .btn-buy {
    margin: auto;
    width: 140px;
    height: 60px;
    padding: 10px 40px;
    font-size: 23px;
    letter-spacing: 3px;
    border-radius: 20px;
    border: 5px solid #ef6a73;

    font-weight: 600;
    color: white;
    background-color: #ef6a73;
    cursor: pointer;

    transition: all 0.8s ease;
    &:hover {
      transform: scale(1.05);
      background-color: rgba(255, 255, 255, 0.453);
      color: #ef6a73;
      border: 5px solid #ef6a73;
      box-shadow: 0 0 30px #ef6a73;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
table {
  border: 4px dotted #ef6a73;
  width: 80%;
  margin: auto;

  thead {
    font-size: 30px;
    height: 30px;
    color: #4c4c4c;
  }
  tr {
    font-size: 25px;
    height: 50px;
    color: #4c4c4c;
    cursor: pointer;
  }
  .tr-head {
    background-color: rgba(255, 255, 255, 0.241);
  }
  .tr-details {
    font-size: 25px;
    height: 50px;
    color: #ef6a73;
  }
  .tr-body.even {
    background-color: #ef6a7328;
  }
  .tr-body.odd {
    background-color: #fff98a27;
  }
  .th-name {
    text-align: start;
  }
  .td-number,
  .th-number,
  .td-details-number {
    text-align: center;
  }
  .td-name,
  .td-details-name {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  .td-price,
  .th-price,
  .td-details-price {
    text-align: end;
    padding-right: 20px;
  }
  .td-trash {
    height: 60px;
    width: 55px;

    img {
      height: 50px;
      width: 45px;
      padding: 0 10px;
      filter: invert(40%);
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: rotate(5deg) scale(1.1);
      }
      &:active {
        transform: rotate(0deg) scale(0.98);
      }
    }
  }
  .element-img {
    height: 55px;
    width: 55px;
  }

  img {
    height: 60px;
    width: 55px;
    padding-right: 30px;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
