.makeIceCream {
  .nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      padding-left: 20px;
      margin: 0;
      font-size: 30px;
      letter-spacing: 3px;
      color: #ef6a73;
      user-select: none;
    }
    .btn-home {
      margin: 0;
      padding-right: 25px;
      width: 276px;
      border: none;
      background: transparent;
      display: flex;
      justify-content: flex-end;
    }
    img {
      width: 60px;
      height: 60px;
      filter: invert(40%);
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: rotate(5deg) scale(1.1);
      }
      &:active {
        transform: rotate(0deg) scale(0.98);
      }
    }
    .btn-basket {
      position: absolute;
      margin: 0;
      top: 5px;
      right: 140px;
      padding-right: 25px;
      width: 276px;
      border: none;
      background: transparent;
      display: flex;
      justify-content: flex-end;

      img {
        width: 70px;
        height: 70px;
        filter: invert(40%);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: rotate(5deg) scale(1.1);
        }
        &:active {
          transform: rotate(0deg) scale(0.98);
        }
      }
    }
  }
  .make-wrapper {
    overflow: hidden;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .elements {
      margin-left: 40px;
      flex-basis: 60%;

      display: flex;
      justify-content: center;

      .make-prev {
        height: 130px;
        width: 40px;
        padding-left: 40px;
        flex-basis: 10%;
        align-self: center;
        opacity: 0;
        transform: translateX(200%);
        user-select: none;
        transform-origin: center;

        animation: showPrev 1s ease forwards;

        cursor: pointer;

        img {
          height: 130px;
          width: 70px;
          filter: invert(40%);
          transition: all 0.2s ease-in-out;
        }
        &:hover img {
          filter: invert(50%);
          transform: scale(1.05);
        }
        &:active img {
          filter: invert(60%);
          transform: scale(1);
        }
      }
      .make-next {
        height: 130px;
        width: 40px;
        flex-basis: 10%;
        align-self: center;
        cursor: pointer;
        opacity: 0;
        transform: translateX(-200%);
        transform-origin: center;
        user-select: none;

        animation: showNext 1s ease forwards;

        img {
          height: 130px;
          width: 70px;
          filter: invert(40%);
          transition: all 0.2s ease-in-out;
        }
        &:hover img {
          filter: invert(50%);
          transform: scale(1.05);
        }
        &:active img {
          filter: invert(60%);
          transform: scale(1);
        }
      }
      .ice-cream-element {
        align-self: center;
        flex-basis: 85%;
        transform: scale(0.2) translateY(200%);
        opacity: 0;
        user-select: none;

        animation: showElement 1.5s ease both, soar 2s ease 1.6s infinite;

        &.prev {
          transform: scale(0.7) translateY(1%) translateX(-50%);

          animation: prevAppearance 1s ease both, soar 2s ease 1s infinite;
        }
        &.next {
          transform: scale(0.7) translateY(1%) translateX(50%);

          animation: nextAppearance 1s ease both, soar 2s ease 1.2s infinite;
        }
      }
    }
    .elements-info {
      border: 4px dotted #ef6a73;
      padding: 10px;
      margin: 30px 100px;
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(150%);
      opacity: 0.5;

      animation: showInfo 1.5s ease forwards;

      h2 {
        margin: 5px 0;
        font-size: 50px;
        letter-spacing: 3px;
        color: #ef6a73;
        user-select: none;
      }
      h3 {
        margin: 5px 0 5px 0;
        font-size: 35px;
        letter-spacing: 3px;
        color: #ef6a73;
        user-select: none;
      }

      .selected {
        display: flex;
        flex-direction: column-reverse;
        padding: 10px 0;
        margin: 15px 0;
        border-top: 3px solid #4c4c4c;
        border-bottom: 3px solid #4c4c4c;
        user-select: none;

        div {
          margin: 2px;
          padding: 10px 0;
          height: 30px;
          width: 550px;
          display: flex;
          justify-content: flex-start;
          img {
            align-self: center;
            width: 65px;
            height: 70px;
          }
          p {
            padding-left: 20px;
            text-align: start;
            align-self: center;
            color: #ef6a73;
            font-size: 30px;
            user-select: none;

            cursor: pointer;
          }
          .delete-el {
            height: 50px;
            width: 45px;
            padding: 0 10px;
            filter: invert(40%);
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
              transform: rotate(5deg) scale(1.1);
            }
            &:active {
              transform: rotate(0deg) scale(0.98);
            }
          }
        }
      }
      p {
        margin: 15px 0;
        padding-bottom: 10px;
        text-align: center;
        font-size: 35px;
        color: #4c4c4c;
        width: 555px;
      }
      .make-btn {
        margin: 5px 0 20px 0;
        width: 65%;
        display: flex;
        justify-content: center;
        gap: 50px;
        button {
          width: 200px;
          height: 60px;
          padding: 10px 20px;
          font-size: 23px;
          letter-spacing: 3px;
          border-radius: 15px;
          border: 5px solid #ef6a73;

          font-weight: 600;
          color: white;
          background-color: #ef6a73;
          user-select: none;

          cursor: pointer;

          transition: all 0.8s ease;
          &:hover {
            transform: scale(1.05);
            background-color: rgba(255, 255, 255, 0.453);
            color: #ef6a73;
            border: 5px solid #ef6a73;
            box-shadow: 0 0 30px #ef6a73;
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }
}
@keyframes showPrev {
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes showNext {
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes showInfo {
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes showElement {
  100% {
    transform: scale(0.7) translateY(1%);
    opacity: 1;
  }
}
@keyframes soar {
  0% {
    transform: scale(0.7) translateY(1%);
  }

  50% {
    transform: scale(0.7) translateY(-1%);
  }
  100% {
    transform: scale(0.7) translateY(1%);
  }
}
@keyframes prevAppearance {
  100% {
    transform: translateX(0) scale(0.7) translateY(1%);
    opacity: 1;
  }
}
@keyframes nextAppearance {
  100% {
    transform: translateX(0) scale(0.7) translateY(1%);
    opacity: 1;
  }
}
