.main .nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .nav h3 {
  padding-left: 20px;
  margin: 0;
  font-size: 30px;
  letter-spacing: 3px;
  color: #ef6a73;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main .nav .btn-make {
  margin: 0px 40px;
  height: 60px;
  padding: 10px 40px;
  font-size: 23px;
  letter-spacing: 3px;
  border-radius: 20px;
  border: 5px solid #ef6a73;
  font-weight: 600;
  color: white;
  background-color: #ef6a73;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.8s ease;
}
.main .nav .btn-make .star1,
.main .nav .btn-make .star2 {
  position: absolute;
  filter: invert(100%) drop-shadow(0 0 10px #ff0011);
  opacity: 0;
  transition: all 0.8s ease;
  transform-origin: center center;
}
.main .nav .btn-make .star1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(-1);
}
.main .nav .btn-make .star2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .nav .btn-make:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.453);
  color: #ef6a73;
  border: 5px solid #ef6a73;
  box-shadow: 0 0 30px #ef6a73;
}
.main .nav .btn-make:active {
  transform: scale(0.95);
}
.main .nav .btn-make:hover .star1 {
  opacity: 1;
  transform: translate(180%, -50%) translateY(30px);
}
.main .nav .btn-make:hover .star2 {
  opacity: 1;
  transform: translate(-290%, -50%) translateY(30px);
}
.main .nav .btn-basket {
  margin: 0;
  padding-right: 25px;
  width: 276px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: flex-end;
}
.main .nav img {
  width: 70px;
  height: 70px;
  filter: invert(40%);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.2s ease-in-out;
}
.main .nav img:hover {
  transform: rotate(5deg) scale(1.1);
}
.main .nav img:active {
  transform: rotate(0deg) scale(0.98);
}
.main .dots {
  position: absolute;
  bottom: 150px;
  left: 120px;
  width: 500px;
  height: 50px;
  margin: 0;
  font-size: 30px;
  letter-spacing: 45px;
  color: #ef6a73;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.5s ease;
}
.main .dots .dot:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.main .dots .active {
  animation: activeDot 1.5s ease both;
}
.main .left {
  top: 40%;
  position: absolute;
  height: 130px;
  width: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.main .left img {
  height: 130px;
  width: 70px;
  filter: invert(40%);
  transition: all 0.2s ease-in-out;
}
.main .left:hover img {
  filter: invert(50%);
  transform: scale(1.05);
}
.main .left:active img {
  filter: invert(60%);
  transform: scale(1);
}
.main .right {
  top: 40%;
  right: 5px;
  position: absolute;
  height: 130px;
  width: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.main .right img {
  height: 130px;
  width: 70px;
  filter: invert(40%);
  transition: all 0.2s ease-in-out;
}
.main .right:hover img {
  filter: invert(50%);
  transform: scale(1.05);
}
.main .right:active img {
  filter: invert(60%);
  transform: scale(1);
}

@keyframes activeDot {
  0% {
    transform: scale(1.2);
    font-size: 30px;
    color: #ef6a73;
  }
  100% {
    transform: scale(1.2);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px #ff1f2e;
  }
}
.wrapper {
  height: 880px;
  margin: 30px 100px 0 100px;
  display: flex;
  flex-direction: row;
}
.wrapper .info {
  flex-basis: 40%;
  padding-left: 90px;
  margin-top: 50px;
  transform: translateX(-100%);
  opacity: 0.5;
  animation: infoAppearance 1s ease-in-out forwards;
}
.wrapper .info .name {
  font-size: 60px;
  color: #ef6a73;
  width: 600px;
  word-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.4s ease;
}
.wrapper .info .name:hover {
  transform: scale(1.03);
}
.wrapper .info .description {
  font-size: 35px;
  color: #4c4c4c;
  width: 600px;
  word-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.4s ease;
}
.wrapper .info .description:hover {
  transform: scale(1.03);
}
.wrapper .info .add-to-basket {
  position: relative;
  height: 60px;
  padding: 0px 32px;
  font-size: 20px;
  letter-spacing: 3px;
  border-radius: 20px;
  border: 5px solid #ef6a73;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: 600;
  color: white;
  background-color: #ef6a73;
  cursor: pointer;
  transition: all 0.8s ease;
}
.wrapper .info .add-to-basket .basket-btn {
  transform: translate(-100%);
  top: -8px;
  position: absolute;
  height: 70px;
  width: 70px;
  filter: invert(40%);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.wrapper .info .add-to-basket:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.453);
  color: #ef6a73;
  border: 5px solid #ef6a73;
  box-shadow: 0 0 30px #ef6a73;
}
.wrapper .info .add-to-basket:hover .basket-btn {
  opacity: 1;
  transform: translate(60%);
}
.wrapper .info .add-to-basket:active {
  transform: scale(0.95);
  background-color: rgba(203, 238, 194, 0.8392156863);
  color: #9ac58f;
  border: 5px solid #ccfbc0;
  box-shadow: 0 0 30px #b2e5a6;
}
.wrapper .ice-cream-img {
  width: 700px;
  height: 800px;
  flex-basis: 40%;
  transform: scale(0);
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  animation: iceCreamAppearance 1s ease-in-out both, soar 3.5s ease-in-out infinite;
}
.wrapper .composition {
  width: 510px;
  text-align: center;
  padding-left: 0px;
  margin: 50px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: translateX(100%);
  opacity: 0.5;
  animation: compositionAppearance 1s ease-in-out forwards;
}
.wrapper .composition .weight {
  font-size: 60px;
  color: #ef6a73;
  transition: all 0.4s ease;
}
.wrapper .composition .weight:hover {
  transform: scale(1.1);
}
.wrapper .composition .calories {
  font-size: 60px;
  color: #ef6a73;
  transition: all 0.4s ease;
}
.wrapper .composition .calories:hover {
  transform: scale(1.1);
}
.wrapper .composition .fat-content {
  font-size: 60px;
  color: #ef6a73;
  transition: all 0.4s ease;
}
.wrapper .composition .fat-content:hover {
  transform: scale(1.1);
}
.wrapper .composition .price {
  font-size: 60px;
  color: #ef6a73;
  transition: all 0.4s ease;
}
.wrapper .composition .price:hover {
  transform: scale(1.1);
}

@keyframes iceCreamAppearance {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes soar {
  0% {
    transform: translateY(1%);
  }
  50% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(1%);
  }
}
@keyframes infoAppearance {
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes compositionAppearance {
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.basket .nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket .nav h3 {
  padding-left: 20px;
  margin: 0;
  font-size: 30px;
  letter-spacing: 3px;
  color: #ef6a73;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.basket .nav .btn-make {
  margin: 0px 40px;
  height: 60px;
  padding: 10px 40px;
  font-size: 23px;
  letter-spacing: 3px;
  border-radius: 20px;
  border: 5px solid #ef6a73;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: 600;
  color: white;
  background-color: #ef6a73;
  cursor: pointer;
  transition: all 0.8s ease;
}
.basket .nav .btn-make .star1,
.basket .nav .btn-make .star2 {
  position: absolute;
  filter: invert(100%) drop-shadow(0 0 10px #ff0011);
  opacity: 0;
  transition: all 0.8s ease;
  transform-origin: center center;
}
.basket .nav .btn-make .star1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(-1);
}
.basket .nav .btn-make .star2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.basket .nav .btn-make:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.453);
  color: #ef6a73;
  border: 5px solid #ef6a73;
  box-shadow: 0 0 30px #ef6a73;
}
.basket .nav .btn-make:active {
  transform: scale(0.95);
}
.basket .nav .btn-make:hover .star1 {
  opacity: 1;
  transform: translate(180%, -50%) translateY(30px);
}
.basket .nav .btn-make:hover .star2 {
  opacity: 1;
  transform: translate(-290%, -50%) translateY(30px);
}
.basket .nav .btn-home {
  margin: 0;
  padding-right: 25px;
  width: 276px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.basket .nav img {
  width: 60px;
  height: 60px;
  filter: invert(40%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.basket .nav img:hover {
  transform: rotate(5deg) scale(1.1);
}
.basket .nav img:active {
  transform: rotate(0deg) scale(0.98);
}
.basket h2 {
  padding-top: 30px;
  text-align: center;
  width: 800px;
  font-size: 50px;
  margin: auto;
  color: #ef6a73;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.basket p {
  width: 30%;
  margin: 30px auto;
  text-align: center;
  color: #4c4c4c;
  font-size: 20px;
  letter-spacing: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.basket .end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-bottom: 200px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.basket .end p {
  opacity: 1;
  animation: show 1s ease forwards, hide 1s ease 5s forwards;
}
.basket .btn-buy {
  margin: auto;
  width: 140px;
  height: 60px;
  padding: 10px 40px;
  font-size: 23px;
  letter-spacing: 3px;
  border-radius: 20px;
  border: 5px solid #ef6a73;
  font-weight: 600;
  color: white;
  background-color: #ef6a73;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.8s ease;
}
.basket .btn-buy:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.453);
  color: #ef6a73;
  border: 5px solid #ef6a73;
  box-shadow: 0 0 30px #ef6a73;
}
.basket .btn-buy:active {
  transform: scale(0.95);
}

table {
  border: 4px dotted #ef6a73;
  width: 80%;
  margin: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
table thead {
  font-size: 30px;
  height: 30px;
  color: #4c4c4c;
}
table tr {
  font-size: 25px;
  height: 50px;
  color: #4c4c4c;
  cursor: pointer;
}
table .tr-head {
  background-color: rgba(255, 255, 255, 0.241);
}
table .tr-details {
  font-size: 25px;
  height: 50px;
  color: #ef6a73;
}
table .tr-body.even {
  background-color: rgba(239, 106, 115, 0.1568627451);
}
table .tr-body.odd {
  background-color: rgba(255, 249, 138, 0.1529411765);
}
table .th-name {
  text-align: start;
}
table .td-number,
table .th-number,
table .td-details-number {
  text-align: center;
}
table .td-name,
table .td-details-name {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
table .td-price,
table .th-price,
table .td-details-price {
  text-align: end;
  padding-right: 20px;
}
table .td-trash {
  height: 60px;
  width: 55px;
}
table .td-trash img {
  height: 50px;
  width: 45px;
  padding: 0 10px;
  filter: invert(40%);
  transition: all 0.2s ease-in-out;
}
table .td-trash img:hover {
  transform: rotate(5deg) scale(1.1);
}
table .td-trash img:active {
  transform: rotate(0deg) scale(0.98);
}
table .element-img {
  height: 55px;
  width: 55px;
}
table img {
  height: 60px;
  width: 55px;
  padding-right: 30px;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.makeIceCream .nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.makeIceCream .nav h3 {
  padding-left: 20px;
  margin: 0;
  font-size: 30px;
  letter-spacing: 3px;
  color: #ef6a73;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.makeIceCream .nav .btn-home {
  margin: 0;
  padding-right: 25px;
  width: 276px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: flex-end;
}
.makeIceCream .nav img {
  width: 60px;
  height: 60px;
  filter: invert(40%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.makeIceCream .nav img:hover {
  transform: rotate(5deg) scale(1.1);
}
.makeIceCream .nav img:active {
  transform: rotate(0deg) scale(0.98);
}
.makeIceCream .nav .btn-basket {
  position: absolute;
  margin: 0;
  top: 5px;
  right: 140px;
  padding-right: 25px;
  width: 276px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: flex-end;
}
.makeIceCream .nav .btn-basket img {
  width: 70px;
  height: 70px;
  filter: invert(40%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.makeIceCream .nav .btn-basket img:hover {
  transform: rotate(5deg) scale(1.1);
}
.makeIceCream .nav .btn-basket img:active {
  transform: rotate(0deg) scale(0.98);
}
.makeIceCream .make-wrapper {
  overflow: hidden;
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.makeIceCream .make-wrapper .elements {
  margin-left: 40px;
  flex-basis: 60%;
  display: flex;
  justify-content: center;
}
.makeIceCream .make-wrapper .elements .make-prev {
  height: 130px;
  width: 40px;
  padding-left: 40px;
  flex-basis: 10%;
  align-self: center;
  opacity: 0;
  transform: translateX(200%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform-origin: center;
  animation: showPrev 1s ease forwards;
  cursor: pointer;
}
.makeIceCream .make-wrapper .elements .make-prev img {
  height: 130px;
  width: 70px;
  filter: invert(40%);
  transition: all 0.2s ease-in-out;
}
.makeIceCream .make-wrapper .elements .make-prev:hover img {
  filter: invert(50%);
  transform: scale(1.05);
}
.makeIceCream .make-wrapper .elements .make-prev:active img {
  filter: invert(60%);
  transform: scale(1);
}
.makeIceCream .make-wrapper .elements .make-next {
  height: 130px;
  width: 40px;
  flex-basis: 10%;
  align-self: center;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-200%);
  transform-origin: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  animation: showNext 1s ease forwards;
}
.makeIceCream .make-wrapper .elements .make-next img {
  height: 130px;
  width: 70px;
  filter: invert(40%);
  transition: all 0.2s ease-in-out;
}
.makeIceCream .make-wrapper .elements .make-next:hover img {
  filter: invert(50%);
  transform: scale(1.05);
}
.makeIceCream .make-wrapper .elements .make-next:active img {
  filter: invert(60%);
  transform: scale(1);
}
.makeIceCream .make-wrapper .elements .ice-cream-element {
  align-self: center;
  flex-basis: 85%;
  transform: scale(0.2) translateY(200%);
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  animation: showElement 1.5s ease both, soar 2s ease 1.6s infinite;
}
.makeIceCream .make-wrapper .elements .ice-cream-element.prev {
  transform: scale(0.7) translateY(1%) translateX(-50%);
  animation: prevAppearance 1s ease both, soar 2s ease 1s infinite;
}
.makeIceCream .make-wrapper .elements .ice-cream-element.next {
  transform: scale(0.7) translateY(1%) translateX(50%);
  animation: nextAppearance 1s ease both, soar 2s ease 1.2s infinite;
}
.makeIceCream .make-wrapper .elements-info {
  border: 4px dotted #ef6a73;
  padding: 10px;
  margin: 30px 100px;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(150%);
  opacity: 0.5;
  animation: showInfo 1.5s ease forwards;
}
.makeIceCream .make-wrapper .elements-info h2 {
  margin: 5px 0;
  font-size: 50px;
  letter-spacing: 3px;
  color: #ef6a73;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.makeIceCream .make-wrapper .elements-info h3 {
  margin: 5px 0 5px 0;
  font-size: 35px;
  letter-spacing: 3px;
  color: #ef6a73;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.makeIceCream .make-wrapper .elements-info .selected {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px 0;
  margin: 15px 0;
  border-top: 3px solid #4c4c4c;
  border-bottom: 3px solid #4c4c4c;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.makeIceCream .make-wrapper .elements-info .selected div {
  margin: 2px;
  padding: 10px 0;
  height: 30px;
  width: 550px;
  display: flex;
  justify-content: flex-start;
}
.makeIceCream .make-wrapper .elements-info .selected div img {
  align-self: center;
  width: 65px;
  height: 70px;
}
.makeIceCream .make-wrapper .elements-info .selected div p {
  padding-left: 20px;
  text-align: start;
  align-self: center;
  color: #ef6a73;
  font-size: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.makeIceCream .make-wrapper .elements-info .selected div .delete-el {
  height: 50px;
  width: 45px;
  padding: 0 10px;
  filter: invert(40%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.makeIceCream .make-wrapper .elements-info .selected div .delete-el:hover {
  transform: rotate(5deg) scale(1.1);
}
.makeIceCream .make-wrapper .elements-info .selected div .delete-el:active {
  transform: rotate(0deg) scale(0.98);
}
.makeIceCream .make-wrapper .elements-info p {
  margin: 15px 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 35px;
  color: #4c4c4c;
  width: 555px;
}
.makeIceCream .make-wrapper .elements-info .make-btn {
  margin: 5px 0 20px 0;
  width: 65%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.makeIceCream .make-wrapper .elements-info .make-btn button {
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  font-size: 23px;
  letter-spacing: 3px;
  border-radius: 15px;
  border: 5px solid #ef6a73;
  font-weight: 600;
  color: white;
  background-color: #ef6a73;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.8s ease;
}
.makeIceCream .make-wrapper .elements-info .make-btn button:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.453);
  color: #ef6a73;
  border: 5px solid #ef6a73;
  box-shadow: 0 0 30px #ef6a73;
}
.makeIceCream .make-wrapper .elements-info .make-btn button:active {
  transform: scale(0.95);
}

@keyframes showPrev {
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes showNext {
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes showInfo {
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes showElement {
  100% {
    transform: scale(0.7) translateY(1%);
    opacity: 1;
  }
}
@keyframes soar {
  0% {
    transform: scale(0.7) translateY(1%);
  }
  50% {
    transform: scale(0.7) translateY(-1%);
  }
  100% {
    transform: scale(0.7) translateY(1%);
  }
}
@keyframes prevAppearance {
  100% {
    transform: translateX(0) scale(0.7) translateY(1%);
    opacity: 1;
  }
}
@keyframes nextAppearance {
  100% {
    transform: translateX(0) scale(0.7) translateY(1%);
    opacity: 1;
  }
}
body {
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}/*# sourceMappingURL=index.css.map */