@import "_main.scss";

body {
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
